<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
<!--    <insert id="save" parameterType="member">-->
<!--        insert into member(memberEmail, memberPassword, memberName, memberMobile ,memberProfile)-->
<!--        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile} ,#{memberProfile})-->
<!--    </insert>-->

    <insert id="save" parameterType="member">
        insert into member(memberEmail, memberPassword, memberName, memberMobile )
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile} )
    </insert>

    <insert id="saveFile" parameterType="memberprofile">
        insert into member_profile(originalFileName, storedFileName, memberId)
        values (#{originalFileName}, #{storedFileName}, #{memberId})
    </insert>


    <select id="login" parameterType="member" resultType="member">
        select *
        from member
        where memberEmail = #{memberEmail}
          and memberPassword = #{memberPassword}
    </select>

    <select id="findByEmail" parameterType="String" resultType="member">
        select *
        from member
        where memberEmail = #{memberEmail}
    </select>

    <select id="list" resultType="member">
        select *
        from member
    </select>

    <select id="detail" parameterType="int" resultType="member">
        select *
        from member
        where id = #{id}
    </select>

    <delete id="delete" parameterType="int">
        delete
        from member
        where id = #{id}
    </delete>

    <update id="update" parameterType="member">
        update member
        set memberName=#{memberName},
            memberMobile=#{memberMobile}
        where id = #{id}
    </update>
</mapper>









